<div class="container">
  <app-projection [header]="'header1'">
    <h4 #body1 class="body">projected body1</h4>
    <h4 class="footer">projected footer1</h4>
  </app-projection>

  <hr color="red">

  <app-projection [header]="'header2'">
    <form class="body">
      <app-date></app-date>
      <app-date></app-date>
      <app-date></app-date>
      <app-date></app-date>
      <input class="body" type="text" name="" id="" placeholder="projected input field">
    </form>
    <h4 class="footer">projected footer2</h4>
  </app-projection>

</div>
